@use "@/assets/styles/type.scss" as type;

.aboutMeText {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 32%;
  transform: translate(-50%, -50%);
  @include type.L-Button-Style('-extra-light');
  text-align: left;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 55%;
  left: 68%;
  transform: translate(-50%, -50%);
  @include type.L-Button-Style('-thin');
  font-style: italic;
  max-width: 35rem;
}


#quote {
  @include type.L-Body-Style('-thin');
  font-size: 1.3rem;
  margin-bottom: var(--spacing-xl);
  text-align: center;
  padding: var(--spacing-xl);
}



@media (min-width: 481px) and (max-width: 768px) {
  .aboutMeText {
    position: absolute;
    top: 37dvh;
    left: 50dvw;
    min-width: 62%;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    top: 70dvh;
    left: 55dvw;
    @include type.L-Button-Style('-thin');
  }

  #quote {
    @include type.L-Body-Style('-thin');
    font-size: 1.3rem;
    padding-right: 8vw;
  }
}

/* Mittlere Geräte (Laptops und kleinere Bildschirme, 769px bis 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .aboutMeText {
    position: absolute;
    top: 35dvh;
    left: 50dvw;
    min-width: 90%;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 65dvh;
    left: 50dvw;
    transform: translate(-50%, -50%);
    @include type.L-Button-Style('-thin');
    font-style: italic;
    max-width: 30rem;
  }

  #quote {
    @include type.L-Body-Style('-thin');
    font-size: 1.3rem;
    margin-bottom: var(--spacing-xl);
    text-align: center;
    padding: var(--spacing-xl);
  }
}

/* Extra kleine Geräte (Handys im Hochformat, 320px bis 480px) */
@media (max-width: 480px) {

  .aboutMeText {
    position: absolute;
    top: 35dvh;
    left: 50dvw;
    min-width: 90%;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 65dvh;
    left: 50dvw;
    transform: translate(-50%, -50%);
    @include type.L-Button-Style('-thin');
    font-style: italic;
    max-width: 50rem;
  }

  #quote {
    @include type.L-Body-Style('-thin');
    font-size: 1.3rem;
    margin-bottom: var(--spacing-xl);
    text-align: center;
    padding: var(--spacing-xl);
  }

}
