.aboutMeText {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 32%;
  transform: translate(-50%, -50%);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-extra-light);
  text-align: left;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 55%;
  left: 65%;
  transform: translate(-50%, -50%);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-thin);
  font-style: italic;
  max-width: 35rem;
  /* 560px */
}


#quote {
  font-size: 1.3rem;
  font-weight: var(--font-weight-thin);
  margin-bottom: var(--spacing-xl);
  text-align: center;
  padding: var(--spacing-xl);
}

/* Extra kleine Geräte (Handys im Hochformat, 320px bis 480px) */
@media (max-width: 480px) {

  .aboutMeText {
    position: absolute;
    top: 35%;
    left: 50%;
    min-width: 90%;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-thin);
    font-style: italic;
    max-width: 50rem;
  }

}