/* about.css */
html {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

#resumeBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

#aboutMe {
  color: black;
  font-weight: 100;
  font-size: 2rem;
  text-align: center;
  margin-top: 50px;
  font-style: normal;
  line-height: normal;
}

.aboutMeText {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 32%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: 200;
  text-align: left;
}

.aboutMeText #line1 {
  font-weight: 700;
}

.aboutMeText #line2,
.aboutMeText #line3,
.aboutMeText #line4,
.aboutMeText #line5,
.aboutMeText #line6 {
  font-weight: 300;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: 100;
  font-style: italic;
  max-width: 560px;
}

.picture {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;;
  padding-bottom: 15rem;
}

#quote {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  text-align: center;
}
