#contact {
  color: var(--color-primary);
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-xxxxl);
  text-align: center;
  font-style: normal;
  line-height: var(--line-height-normal);
}

#impressum {
  color: var(--color-gray);
  font-weight: var(--font-weight-thin);
  font-size: var(--font-size-lg);
  position: absolute;
  bottom: var(--spacing-lg);
  left: 50vw;
  transform: translateX(-50%);
}

.contactMeText {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

@media (max-width: 480px) {

  #contact {
    color: var(--color-primary);
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-xxxxl);
    text-align: center;
    font-style: normal;
    line-height: var(--line-height-normal);
  }

  #impressum {
    color: var(--color-gray);
    font-weight: var(--font-weight-thin);
    font-size: var(--font-size-xl);
    position: absolute;
    bottom: var(--spacing-lg);
    left: 50vw;
    transform: translateX(-50%);
  }

  .contactMeText {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    min-width: 90%;

  }
}

