/* contact.css */

html {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

#contact {
  color: #171717;
  font-weight: 300;
  font-size: 2rem;
  text-align: center;
  margin-top: 50px;
  font-style: normal;
  line-height: normal;
}

#impressum {
  color: #bfbfbf;
  font-weight: 100;
  font-size: 1rem;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}


#startLinkContact {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  font-weight: 700;
  left: 0;
  padding-left: 20px;
}

#startLinkContact {
  left: 0;
  padding-left: 20px;
}

.custom-link {
  color: #171717;
  text-decoration: none;
}

.custom-link:hover {
  color: #171717;
  text-decoration: underline;
}


.contactMeText {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: 200;
  text-align: left;
}

.aboutMeText #line1 {
  font-weight: 700;
}

.aboutMeText #line2,
.aboutMeText #line3,
.aboutMeText #line4,
.aboutMeText #line5,
.aboutMeText #line6 {
  font-weight: 300;
}
