html,
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding: 0 var(--spacing-xl);
  overflow: hidden;
  overflow-y: hidden;
}

#projectLinkStart {
  right: var(--side-percentage);
  transform: translateY(-50%);
  padding: var(--spacing-md);
  margin: calc(-1 * var(--spacing-md));
}

#projectLinkStartLeft {
  left: var(--side-percentage);
  transform: translateY(-50%) rotate(180deg);
  padding: var(--spacing-md);
  margin: calc(-1 * var(--spacing-md));
}

#projectLinkStart,
#projectLinkStartLeft {
  position: fixed;
  top: 50%;
  font-size: var(--font-size-bigger);
  font-weight: var(--font-weight-bold);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  padding: var(--spacing-none);
}

.project-details {
  max-width: 75rem;
  /* 1200px */
  margin: var(--spacing-none);
  padding: var(--spacing-lg);
  padding-top: var(--spacing-xxl);
  letter-spacing: var(--letter-spacing-base);
}

.project-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.project-section.reverse .project-content {
  flex-direction: row-reverse;
}

.text {
  flex: 1;
  padding: var(--spacing-md);
  padding-left: var(--spacing-xl);
  padding-right: var(--spacing-xl);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-extra-light);
  line-height: var(--line-height-big);
}

.textStyle {
  font-optical-sizing: auto;
  font-family: var(--font-family-alt);
}

.image {
  flex: 1;
  padding: var(--spacing-lg);
  display: flex;
  align-items: flex-start;
}

.imageSplit {
  margin-top: 3.2rem;
}

.project-image img,
.image img {
  width: 100%;
  border: 1px solid var(--border-color-black);
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}

.project-image {
  width: 100%;
  text-align: center;
  margin-bottom: 31.25rem;
  /* 500px */
  object-fit: cover;
  height: 18.75rem;
  /* 300px */
}

.project-section h2 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--spacing-md);
}

h3 {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--spacing-xs);
  margin-top: var(--spacing-xs);
}

.image.small img {
  max-height: 18.75rem;
  /* 300px */
}

.image.medium img {
  max-height: 31.25rem;
  /* 500px */
}

.image.large img {
  max-height: 37.5rem;
  /* 600px */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}