html {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

#projectLinkStart {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.custom-link {
  color: black;
  text-decoration: none;
}

.custom-link:hover {
  color: black;
  text-decoration: underline;
}

.project-details {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 8rem;
  letter-spacing: 1px;
}

.project-header {
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 8rem;
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.project-title {
  font-size: 2.3rem;
  font-weight: 700;
  margin-bottom: 10px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

span {
  font-weight: 200;
  color: #0000000f;
}

.project-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.project-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.project-section.reverse .project-content {
  flex-direction: row-reverse;
}

.text {
  flex: 1;
  padding: 30px;
  padding-top: 10px;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.5;
}

.image {
  flex: 1;
  padding: 30px;
  display: flex;
  align-items: flex-start;
}

.project-video iframe {
  border: 1px solid black;
  border-radius: 10px;
  width: 82rem;
  height: 50rem;
}

.project-image img,
.image img {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}

.project-image {
  width: 100%;
  text-align: center;
  margin-bottom: 500px;
  object-fit: cover;
  height: 300px;
}

.project-section h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 2px;
  margin-top: 2px;
}

.image.small img {
  max-height: 300px;
}

.image.medium img {
  max-height: 500px;
}

.image.large img {
  max-height: 600px;
}

/* Responsive Design */

@media (max-width: 1200px) {
  .project-details {
    padding: 15px;
    padding-top: 6rem;
  }

  .project-title {
    font-size: 2rem;
  }

  .text {
    font-size: 0.9rem;
  }

  .project-video iframe {
    width: 70rem;
    height: 35rem;
  }
}

@media (max-width: 992px) {
  .project-title {
    font-size: 1.75rem;
  }

  .text {
    font-size: 0.85rem;
  }

  .project-video iframe {
    width: 60rem;
    height: 30rem;
  }

  .project-image {
    height: 250px;
    margin-bottom: 400px;
  }
}

@media (max-width: 768px) {
  .project-title {
    font-size: 1.5rem;
  }

  .text {
    font-size: 0.8rem;
  }

  .project-video iframe {
    width: 50rem;
    height: 25rem;
  }

  .project-image {
    height: 200px;
    margin-bottom: 300px;
  }

  .image.medium img {
    max-height: 400px;
  }

  .image.large img {
    max-height: 500px;
  }
}

@media (max-width: 576px) {
  #projectLinkStart {
    font-size: 1.5rem;
  }

  .project-title {
    font-size: 1.25rem;
  }

  .text {
    font-size: 0.75rem;
  }

  .project-video iframe {
    width: 40rem;
    height: 20rem;
  }

  .project-image {
    height: 150px;
    margin-bottom: 200px;
  }

  .image.small img {
    max-height: 200px;
  }

  .image.medium img {
    max-height: 300px;
  }

  .image.large img {
    max-height: 400px;
  }
}
