html {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

#projectLinkStart {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.custom-link {
  color: black;
  text-decoration: none;
}

.custom-link:hover {
  color: black;
  text-decoration: underline;
}

.project-details {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 8rem;
  letter-spacing: 2px;
}

.project-header {
  text-align: center;
  margin-bottom: 20px;
}

.project-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 10px;
  padding-top: 3rem;
}

.project-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.project-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.project-section.reverse .project-content {
  flex-direction: row-reverse;
}

.text {
  flex: 1;
  padding: 20px;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.5;
}

.image {
  flex: 1;
  padding: 20px;
  display: flex;
  align-items: flex-start; 
}

.project-video iframe {
  border: 1px solid black;
  border-radius: 10px;
  width: 83rem;
  height: 40rem;
}

.project-image img,
.image img {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  object-fit: cover; 
  object-position: center;
  

}

.project-image {
  width: 100%;
  text-align: center;
  margin-bottom: 500px;
  object-fit: cover;
  height: 300px;
}

.project-section h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.image.small img {
  max-height: 300px; 
}

.image.medium img {
  max-height: 500px; 

}

.image.large img {
  max-height: 600px; 
}
