html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  position: relative;
}

/* #start {
  color: #171717;
  font-weight: 200;
  font-size: 2rem;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-style: normal;
  line-height: normal;
} */


.char {
  display: inline-block;
  width: 1.5rem;
  height: 2rem;
  overflow: hidden;
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
  vertical-align: bottom;
}

.separator {
  color: #0000000f;
  padding-left: 1px;
}

.normal {
  color: #171717;
  padding-left: 1px;
}

.custom-style {
  font-weight: 700;
  color: #000000;
}

.char.flip {
  animation: flap 1s ease-in-out forwards;
}

@keyframes flap {
  0%,
  100% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(360deg);
  }
}

.mainText {
  margin: 10px 0;
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
}

#quote {
  position: absolute;
  bottom: 100px;
  left: 100px;
  font-size: 1.5rem;
  font-weight: 100;
  font-style: italic;
}

.project-char {
  display: inline-block;
  perspective: 1000px;
}

.project-flip {
  animation: projectFlipAnimation 1s ease-in-out;
  transform-origin: center;
}

@keyframes projectFlipAnimation {
  0%,
  100% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(360deg);
  }
}
