html {
  min-width: 100%;
}

.detailsLink-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  font-size: 2rem;
  font-weight: 400;

}

.detailsLink {
  color: black;
  /* display: inline-block; */
  /* transition: transform 0.3s ease; */
  text-decoration: none;
}

/* .detailsLink:hover {
  transform: scale(1.1);
} */


#projectLinkStart {
  position: fixed;
  top: 0;
  padding-top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  background-color: #fbfbfb;
}

.background {
  position: fixed;
  height: 5rem;
  width: 100%;
  top: 0;
  z-index: 100;
  background-color: #fbfbfb;
  /* backdrop-filter: blur(10px); */
}

#projectLinkNext {
  position: fixed;
  top: 50%;
  right: 2.3%;
  transform: translateY(-50%);
  font-size: 2rem;
  font-weight: 700;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

#projectLinkBefore {
  position: fixed;
  top: 50%;
  left: 2.3%;
  transform: translateY(-50%) rotate(180deg);
  font-size: 2rem;
  font-weight: 700;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}



.projectText,
.projectFlap,
.wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  font-size: 2rem;
  font-weight: 200;
  text-align: left;
}

/* .projectText {
  top: 30%;
  left: 25.5%;
  transform: translate(-50%, -50%);
} */

.projectFlap {
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}

.wrapper {
  top: 50%;
  left: 65%;
  max-width: 560px;
  transform: translate(-50%, -50%);
  flex-direction: row;
}

.picture {
  display: flex;
  flex-direction: column;
  /* max-width: 550px; */
  width: 480px;
  height: 450px;
  max-height: fit-content;
  padding-bottom: 1rem;
  overflow: hidden;
}

.projectDescription {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 200;
  text-align: left;
}

.project-details {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 60%;
  letter-spacing: 0.3px;
}



span {
  font-weight: 200;
  color: #00000019;
}

.project-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.project-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.project-section.reverse .project-content {
  flex-direction: row-reverse;
}

.projectDetailsFlap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
  padding-top: 3rem;
}

.text {
  flex: 1;
  padding: 30px;
  padding-top: 10px;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
}

.paragraph {
  /* font-family: "Open Sans", sans-serif; */
  font-optical-sizing: auto;
  font-family: "Inter Tight", sans-serif;
}


.tryOutLink {
  color: black;
  font-weight: 700;
  font-size: 2rem;
  transform: translateX(-50%);
  text-decoration: none;
  left: 50%;

  position: relative;
}

.tryOutLink:hover {
  text-decoration: underline;
}



.image {
  flex: 1;
  padding: 30px;
  display: flex;
  align-items: flex-start;
  object-fit: contain;
}

.project-video iframe {
  border: 1px solid black;
  border-radius: 10px;
  width: 82rem;
  height: 50rem;
  margin-top: 3rem;
}

.project-image img,
.image img {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  object-fit: contain;
  object-position: center;
}

.project-image {
  width: 100%;
  text-align: center;
  margin-bottom: 500px;
  height: 300px;
}

.project-section h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 2px;
  margin-top: 2px;
}

.image.small img {
  max-height: 300px;
}

.image.medium img {
  max-height: 450px;
}

.image.large img {
  max-height: 600px;
}

/* Responsive Design */

@media (max-width: 1200px) {
  #projectLinkStart {
    font-size: 1.75rem;
  }

  .projectText,
  .projectFlap,
  .wrapper {
    font-size: 1.75rem;
  }

  .projectFlap {
    left: 28%;
  }

  .wrapper {
    left: 60%;
  }

  .project-details {
    padding: 15px;
    padding-top: 6rem;
  }

  .project-title {
    font-size: 2rem;
  }

  .text {
    font-size: 0.9rem;
  }

  .project-video iframe {
    width: 70rem;
    height: 35rem;
  }
}

@media (max-width: 992px) {
  #projectLinkStart {
    font-size: 1.5rem;
  }

  .projectText,
  .projectFlap,
  .wrapper {
    font-size: 1.5rem;
  }

  .projectFlap {
    left: 28%;
  }

  .wrapper {
    left: 60%;
  }

  .picture {
    max-width: 100%;
  }

  .projectDescription {
    font-size: 0.95rem;
  }

  .project-title {
    font-size: 1.75rem;
  }

  .text {
    font-size: 0.85rem;
  }

  .project-video iframe {
    width: 60rem;
    height: 30rem;
  }

  .project-image {
    height: 250px;
    margin-bottom: 400px;
  }
}

@media (max-width: 768px) {
  #projectLinkStart {
    font-size: 1.25rem;
  }

  .projectText,
  .projectFlap,
  .wrapper {
    font-size: 1.25rem;
  }

  .projectText {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .projectFlap {
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .wrapper {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
  }

  .projectDescription {
    font-size: 0.85rem;
    padding: 0 10px;
    text-align: center;
  }

  .picture img {
    max-width: 100%;
    height: auto;
  }

  .project-title {
    font-size: 1.5rem;
  }

  .text {
    font-size: 0.8rem;
  }

  .project-video iframe {
    width: 50rem;
    height: 25rem;
  }

  .project-image {
    height: 200px;
    margin-bottom: 300px;
  }

  .image.medium img {
    max-height: 400px;
  }

  .image.large img {
    max-height: 500px;
  }
}

@media (max-width: 576px) {
  #projectLinkStart {
    font-size: 1rem;
  }

  .detailsLink {
    font-size: 1rem;
  }

  .projectText,
  .projectFlap,
  .wrapper {
    font-size: 1rem;
    text-align: center;
  }

  .projectText,
  .projectFlap,
  .wrapper {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
  }

  .wrapper {
    top: 70%;
    max-width: 90%;
  }

  .picture {
    max-width: 100%;
    padding-bottom: 0;
  }

  .projectDescription {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }

  .picture img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  #projectLinkStart {
    font-size: 1.5rem;
  }

  .project-title {
    font-size: 1.25rem;
  }

  .text {
    font-size: 0.75rem;
  }

  .project-video iframe {
    width: 40rem;
    height: 20rem;
  }

  .project-image {
    height: 150px;
    margin-bottom: 200px;
  }

  .image.small img {
    max-height: 200px;
  }

  .image.medium img {
    max-height: 300px;
  }

  .image.large img {
    max-height: 400px;
  }
}