html {
  min-width: 100%;
}

.detailsLink-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: var(--spacing-lg);
  font-size: var(--font-size-big);
  font-weight: var(--font-weight-normal);
}

.detailsLink {
  color: var(--color-black);
  text-decoration: none;
}

#projectLinkStart {
  position: fixed;
  top: 0;
  padding-top: var(--spacing-lg);
  left: 50%;
  transform: translateX(-50%);
  font-size: var(--font-size-big);
  font-weight: var(--font-weight-bold);
  text-align: center;
  background-color: var(--color-background);
}

.background {
  position: fixed;
  height: 5rem;
  width: 100%;
  top: 0;
  z-index: var(--z-index-high);
  background-color: var(--color-background);
}

#projectLinkNext {
  position: fixed;
  top: 50%;
  right: var(--side-percentage);
  transform: translateY(-50%);
  font-size: var(--font-size-big);
  font-weight: var(--font-weight-bold);
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

#projectLinkBefore {
  position: fixed;
  top: 50%;
  left: var(--side-percentage);
  transform: translateY(-50%) rotate(180deg);
  font-size: var(--font-size-big);
  font-weight: var(--font-weight-bold);
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.projectText,
.projectFlap,
.wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  font-size: var(--font-size-xxxxl);
  font-weight: var(--font-weight-extra-light);
  text-align: left;
}

.projectFlap {
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  font-size: var(--font-size-xl);
}

.wrapper {
  top: 50%;
  left: 65%;
  max-width: 35rem;
  /* 560px */
  transform: translate(-50%, -50%);
  flex-direction: row;
}

.picture {
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: 28.125rem;
  max-height: fit-content;
  padding-bottom: var(--spacing-md);
  overflow: hidden;
  border: 1px solid var(--color-black);
  border-radius: var(--radius-xxs);
}

.projectDescription {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-extra-light);
  text-align: left;
}

.project-details {
  max-width: 87.5rem;
  /* 1400px */
  margin: 0 auto;
  padding: var(--spacing-lg);
  padding-top: 60%;
  letter-spacing: 0.3px;
}

span {
  font-weight: var(--font-weight-extra-light);
  color: var(--color-gray-light);
}

.project-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--spacing-lg);
}

.project-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.project-section.reverse .project-content {
  flex-direction: row-reverse;
}

.projectDetailsFlap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: var(--spacing-bigger);
  padding-top: var(--spacing-big);
}

.text {
  flex: 1;
  padding: var(--spacing-lg);
  padding-top: var(--spacing-md);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-big);
}

.paragraph {
  font-optical-sizing: auto;
  font-family: var(--font-family-alt);
}

.tryOutLink {
  color: var(--color-black);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xxxxl);
  transform: translateX(-50%);
  text-decoration: none;
  left: 50%;
  position: relative;
}

.tryOutLink:hover {
  text-decoration: underline;
}

.image {
  flex: 1;
  padding: var(--spacing-lg);
  display: flex;
  align-items: flex-start;
  object-fit: contain;
}

.project-video iframe {
  border: 1px solid var(--color-black);
  border-radius: var(--radius-xxs);
  width: 82rem;
  height: 50rem;
  margin-top: var(--spacing-xl);
}

.project-image img,
.image img {
  width: 100%;
  border: 1px solid var(--color-black);
  border-radius: var(--radius-xxs);
  object-fit: contain;
  object-position: center;
}

.project-image {
  width: 100%;
  text-align: center;
  margin-bottom: 31.25rem;
  /* 500px */
  height: 18.75rem;
  /* 300px */
}

.project-section h2 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--spacing-md);
}

h3 {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--spacing-xs);
  margin-top: var(--spacing-xs);
}

.image.small img {
  max-height: 18.75rem;
  /* 300px */
}

.image.medium img {
  max-height: 28.125rem;
  /* 450px */
}

.image.large img {
  max-height: 37.5rem;
  /* 600px */
}