main {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  font-family: var(--font-family-main);
}

#title {
  color: var(--color-black);
  font-weight: var(--font-weight-extra-light);
  font-size: var(--font-size-xl);
  text-align: center;
  position: relative;
  bottom: 0;
  padding-bottom: var(--spacing-lg);
  left: 50%;
  transform: translateX(-50%);
}

#projectLinkStart {
  position: absolute;
  top: 0;
  padding-top: var(--spacing-lg);
  left: 50%;
  transform: translateX(-50%);
  font-size: var(--font-size-big);
  font-weight: var(--font-weight-bold);
  text-align: center;
}

.content-left {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: var(--spacing-lg);
}

* {
  margin: var(--spacing-none);
  padding: var(--spacing-none);
  color: var(--color-primary);
  text-decoration: none;
}

h2 {
  font-size: var(--font-size-big);
  font-weight: var(--font-weight-extra-light);
}

h3 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-thin);
  letter-spacing: 0.4375rem;
  /* 7px */
}

p {
  font-size: 1.75rem;
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.4375rem;
  /* 7px */
}

.location {
  margin-top: var(--spacing-xs);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-thin);
}

.timeline:before {
  content: "";
  position: absolute;
  height: 100%;
  left: 50%;
  width: 0.25rem;
  /* 4px */
  top: -1.25rem;
  /* -20px */
  transition: background-color 0.3s ease;
  border: solid 1px var(--color-black);
}

.timeline ul li.current~li:before,
.timeline ul li.current~li:nth-child(odd):before,
.timeline ul li.current~li:nth-child(even):before {
  background-color: var(--color-black);
}

.timeline {
  position: relative;
  margin: var(--spacing-xl) auto;
  margin-top: 12.5rem;
  /* 200px */
  width: 93.75rem;
  /* 1500px */
  padding: var(--spacing-xl) 0;
}

.timeline ul {
  margin: var(--spacing-none);
  padding: var(--spacing-none);
}

.timeline ul li {
  list-style: none;
  box-sizing: border-box;
  line-height: normal;
  position: relative;
  width: 50%;
  padding: 2.5rem 6.25rem;
  /* 40px 100px */
}

.timeline ul li .content h2 {
  color: var(--color-primary);
  padding: 0px 2px 18px 0px;
}

.timeline ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}

.timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}

.date {
  padding-bottom: var(--spacing-lg);
}

.timeline ul li:nth-child(odd):before {
  content: "";
  position: absolute;
  width: 1.5625rem;
  /* 25px */
  height: 1.5625rem;
  /* 25px */
  border: 1px solid var(--color-primary);
  box-shadow: 0 0 0 3px rgba(13, 13, 13, 0.2);
  border-radius: 50%;
  right: -1rem;
  /* -16px */
  background-color: var(--color-background);
  top: 1.5rem;
  /* 24px */
}

.timeline ul li:nth-child(even):before {
  content: "";
  position: absolute;
  width: 1.5625rem;
  /* 25px */
  height: 1.5625rem;
  /* 25px */
  border-radius: 50%;
  border: 1px solid var(--color-primary);
  box-shadow: 0 0 0 3px rgba(13, 13, 13, 0.2);
  left: -0.6875rem;
  /* -11px */
  background-color: var(--color-background);
  top: 1.5rem;
  /* 24px */
}

.timeline ul li:nth-child(odd) .date {
  position: absolute;
  top: 0.75rem;
  /* 12px */
  right: -9.375rem;
  /* -150px */
  margin: var(--spacing-none);
  padding: var(--spacing-md) 3px;
}

.timeline ul li:nth-child(even) .date {
  position: absolute;
  top: 0.75rem;
  /* 12px */
  left: -9.375rem;
  /* -150px */
  margin: var(--spacing-none);
  padding: var(--spacing-md) 3px;
}

@media (max-width: 62.5rem) {

  /* 1000px */
  .timeline {
    width: 100%;
  }
}

@media (max-width: 47.9375rem) {

  /* 767px */
  .timeline {
    width: 100%;
  }

  .timeline:before {
    left: 1.25rem;
    /* 20px */
  }

  .timeline ul li:nth-child(odd),
  .timeline ul li:nth-child(even) {
    width: 100%;
    text-align: left;
    padding-left: 3.125rem;
    /* 50px */
  }

  .timeline ul li:nth-child(odd):before {
    top: -1.125rem;
    /* -18px */
    left: 0.625rem;
    /* 10px */
  }

  .timeline ul li:nth-child(even):before {
    top: -1.125rem;
    /* -18px */
    left: 0.625rem;
    /* 10px */
  }

  .timeline ul li:nth-child(odd) .date,
  .timeline ul li:nth-child(even) .date {
    top: -1.875rem;
    /* -30px */
    left: 3.125rem;
    /* 50px */
    right: inherit;
  }
}