@use "@/assets/styles/type.scss" as type;

html {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
}

.detailsLink-container {
  position: absolute;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-bottom: var(--spacing-lg);
  @include type.L-Heading-Style('-bold');
}

.detailsLink {
  color: var(--color-black);
  text-decoration: none;
}

#projectLinkStart {
  position: fixed;
  top: 0;
  padding-top: var(--spacing-lg);
  left: 50vw;
  transform: translateX(-50%);
  @include type.L-Heading-Style('-bold');
  text-align: center;
  background-color: var(--color-background);
  z-index: var(--z-index-high);
}

.background {
  position: fixed;
  height: 9vh;
  width: 100vw;
  top: 0;
  z-index: var(--z-index-high);
  background-color: var(--color-background);
}

#projectLinkNext {
  position: fixed;
  top: 50vh;
  right: var(--side-percentage);
  transform: translateY(-50%);
  @include type.L-Heading-Style('-bold');
  writing-mode: vertical-rl;
  text-orientation: mixed;
  z-index: var(--z-index-high);
}

#projectLinkBefore {
  position: fixed;
  top: 50vh;
  left: var(--side-percentage);
  transform: translateY(-50%) rotate(180deg);
  @include type.L-Heading-Style('-bold');
  writing-mode: vertical-rl;
  text-orientation: mixed;
  z-index: var(--z-index-high);
}

.projectFlap,
.wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  @include type.L-XXXXL-Style('-extra-light');
  text-align: left;
}

.projectFlap {
  top: 50vh;
  left: 32vw;
  transform: translate(-50%, -50%);
  font-size: var(--font-size-xl);
}

.wrapper {
  top: 50vh;
  left: 67vw;
  max-width: 30rem;
  transform: translate(-50%, -50%);
  flex-direction: row;
}

.picture {
  object-fit: cover;
  object-position: center;
}



.project-details {
  max-width: 87.5rem;
  margin: 0 auto;
  padding: var(--spacing-lg);
  padding-top: 100vh;
  letter-spacing: 0.3px;

}


.project-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--spacing-lg);
}

.project-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.project-section.reverse .project-content {
  flex-direction: row-reverse;
}

.projectDetailsFlap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: var(--spacing-bigger);
  padding-top: var(--spacing-big);
}

.text {
  flex: 1;
  padding: var(--spacing-lg);
  padding-top: var(--spacing-md);
  @include type.L-Button-Style('-light');
  line-height: var(--line-height-big);
}

.paragraph {
  font-optical-sizing: auto;
  @include type.L-Family-Alt();
  display: flex;
  flex-direction: column;
}

.tryOutLink {
  color: var(--color-black);
  @include type.L-XXXXL-Style('-bold');
  transform: translateX(-50%);
  text-decoration: none;
  left: 50%;
  position: relative;
  text-decoration: underline;

}

.tryOutLink:hover {
  text-decoration: underline;
}

.image {
  flex: 1;
  padding: var(--spacing-lg);
  display: flex;
  align-items: flex-start;
  object-fit: contain;
  width: 100%;
}

.project-video iframe {
  border: var(--border-size) solid var(--color-gray-light);
  border-radius: var(--radius-md);
  width: 71dvw;
  height: 78dvh;
  margin-top: var(--spacing-xl);

}

.project-image,
.image {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.project-image {
  width: 100%;
  text-align: center;
  margin-bottom: 31.25rem;
  height: 18.75rem;
}

.project-section h2 {
  @include type.L-Button-Style('-bold');
  margin-bottom: var(--spacing-md);
}

h3 {
  @include type.L-XXL-Style('-bold');
  margin-bottom: var(--spacing-xs);
  margin-top: var(--spacing-xs);
  align-items: center;
  justify-content: center;
  align-self: center;
}

.image.small img {
  max-height: var(--img-height-sm);
  /* 300px */
}

.image.smedi img {
  max-height: var(--img-height-smedi);
  /* 375px */
}

.image.medium img {
  max-height: var(--img-height-md);
  /* 450px */
}

.image.mela img {
  max-height: var(--img-height-mela);
  /* 600px */
}

.image.large img {
  height: fit-content;
}

/* Kleine Geräte (Tablets und Handys im Querformat, 481px bis 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  html {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: --webkit-fill-available;
    height: 100vh;
    width: 100vw;
  }


  .detailsLink-container {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding-bottom: var(--spacing-lg);
    @include type.L-Heading-Style('-bold');
  }

  .detailsLink {
    color: var(--color-black);
    text-decoration: none;
  }

  #projectLinkStart {
    position: fixed;
    top: 0;
    padding-top: var(--spacing-lg);
    left: 50vw;
    transform: translateX(-50%);
    @include type.L-Heading-Style('-bold');
    text-align: center;
    background-color: var(--color-background);
  }

  .background {
    position: fixed;
    height: 8vh;
    width: 100vw;
    top: 0;
    z-index: var(--z-index-high);
    background-color: var(--color-background);

  }

  #projectLinkNext {
    position: fixed;
    top: 50vh;
    right: var(--side-percentage);
    transform: translateY(-50%);
    @include type.L-Heading-Style('-bold');
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  #projectLinkBefore {
    position: fixed;
    top: 50vh;
    left: var(--side-percentage);
    transform: translateY(-50%) rotate(180deg);
    @include type.L-Heading-Style('-bold');
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  .projectFlap,
  .wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    @include type.L-XXXXL-Style('-extra-light');
    text-align: left;
    align-items: center;
    justify-content: center;
  }

  .projectFlap {
    top: 35vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    font-size: var(--font-size-xl);
    min-width: 80%;
  }

  .wrapper {
    top: 67vh;
    left: 55vw;
    transform: translate(-50%, -50%);
    flex-direction: row;
  }

  .picture {
    object-fit: cover;
    object-position: center;
  }

  .project-details {
    max-width: 80vw;
    margin: 0 auto;
    padding: var(--spacing-lg);
    padding-top: 100vh;
    letter-spacing: 0.3px;
  }


  .project-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--spacing-lg);
  }

  .project-content {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
    width: 80vw;
  }

  .project-section.reverse .project-content {
    flex-direction: row-reverse;
  }

  .projectDetailsFlap {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    padding-bottom: var(--spacing-bigger);
    padding-top: var(--spacing-big);
  }

  .text {
    flex: 1;
    padding: var(--spacing-xxl);
    padding-top: var(--spacing-md);
    @include type.L-Button-Style('-light');
    line-height: var(--line-height-big);
    max-width: 70vw;
    align-self: center;
    justify-content: center;
  }

  .paragraph {
    font-optical-sizing: auto;
    @include type.L-Family-Alt();
    padding-top: var(--spacing-md);
    display: flex;
    flex-direction: column;
  }

  .tryOutLink {
    color: var(--color-black);
    @include type.L-XXXXL-Style('-bold');
    transform: translateX(-50%);
    text-decoration: none;
    left: 50%;
    position: relative;
    text-decoration: underline;
  }

  .image {
    flex: 1;
    padding: var(--spacing-sm);
    display: flex;
    justify-content: center;
    align-self: center;
    object-fit: cover;
    object-position: center;
  }

  .project-video iframe {
    border: var(--border-size) solid var(--color-gray-light);
    border-radius: var(--radius-md);
    width: 70vw;
    height: 50vh;
    margin-top: var(--spacing-xl);
  }

  .project-image,
  .image {
    width: 100%;
    object-fit: cover;
    object-position: center;
    align-self: center;
  }

  .project-image {
    width: 100%;
    text-align: center;
    margin-bottom: 31.25rem;
    height: 18.75rem;
  }

  .project-section h2 {
    @include type.L-Button-Style('-bold');
    margin-bottom: var(--spacing-md);
  }


  h3 {
    @include type.L-XXL-Style('-bold');
    margin-bottom: var(--spacing-xs);
    margin-top: var(--spacing-xs);
    align-items: center;
    justify-content: center;
    align-self: center;
  }

  .image.small img {
    max-height: var(--img-height-sm);
    max-width: var(--img-width-lg);

  }

  .image.smedi img {
    max-height: var(--img-height-smedi);
    max-width: var(--img-width-lg);

  }

  .image.medium img {
    max-height: var(--img-height-md);
    max-width: var(--img-width-lg);
  }

  .image.mela img {
    max-height: var(--img-height-mela);
    max-width: var(--img-width-lg);

  }

  .image.large img {
    height: fit-content;
    max-width: var(--img-width-lg);

  }
}

/* Mittlere Geräte (Laptops und kleinere Bildschirme, 769px bis 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  html {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
  }

  .detailsLink-container {
    position: absolute;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-bottom: var(--spacing-lg);
    @include type.L-Heading-Style('-bold');
  }

  .detailsLink {
    color: var(--color-black);
    text-decoration: none;
  }

  #projectLinkStart {
    position: fixed;
    top: 0;
    padding-top: var(--spacing-lg);
    left: 50vw;
    transform: translateX(-50%);
    @include type.L-Heading-Style('-bold');
    text-align: center;
    background-color: var(--color-background);
  }

  .background {
    position: fixed;
    height: 9vh;
    width: 100vw;
    top: 0;
    z-index: var(--z-index-high);
    background-color: var(--color-background);
  }

  #projectLinkNext {
    position: fixed;
    top: 50vh;
    right: var(--side-percentage);
    transform: translateY(-50%);
    @include type.L-Heading-Style('-bold');
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  #projectLinkBefore {
    position: fixed;
    top: 50vh;
    left: var(--side-percentage);
    transform: translateY(-50%) rotate(180deg);
    @include type.L-Heading-Style('-bold');
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  .projectFlap,
  .wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    @include type.L-XXXXL-Style('-extra-light');
    text-align: left;
  }

  .projectFlap {
    top: 50vh;
    left: 32vw;
    transform: translate(-50%, -50%);
    font-size: var(--font-size-xl);
  }

  .wrapper {
    top: 50vh;
    left: 67vw;
    max-width: 30rem;
    transform: translate(-50%, -50%);
    flex-direction: row;
  }

  .picture {
    object-fit: cover;
    object-position: center;
  }



  .project-details {
    max-width: 87.5rem;
    margin: 0 auto;
    padding: var(--spacing-lg);
    padding-top: 100vh;
    letter-spacing: 0.3px;
  }


  .project-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--spacing-lg);
  }

  .project-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }

  .project-section.reverse .project-content {
    flex-direction: row-reverse;
  }

  .projectDetailsFlap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: var(--spacing-bigger);
    padding-top: var(--spacing-big);
  }

  .text {
    flex: 1;
    padding: var(--spacing-lg);
    padding-top: var(--spacing-md);
    @include type.L-Button-Style('-light');
    line-height: var(--line-height-big);
  }

  .paragraph {
    font-optical-sizing: auto;
    @include type.L-Family-Alt();
    display: flex;
    flex-direction: column;
  }

  .tryOutLink {
    color: var(--color-black);
    @include type.L-XXXXL-Style('-bold');
    transform: translateX(-50%);
    text-decoration: none;
    left: 50%;
    position: relative;
    text-decoration: underline;

  }

  .tryOutLink:hover {
    text-decoration: underline;
  }

  .image {
    flex: 1;
    padding: var(--spacing-lg);
    display: flex;
    align-items: flex-start;
    object-fit: contain;
    width: 100%;
  }

  .project-video iframe {
    border: var(--border-size) solid var(--color-gray-light);
    border-radius: var(--radius-md);
    width: 71dvw;
    height: 78dvh;
    margin-top: var(--spacing-xl);

  }

  .project-image,
  .image {
    width: 100%;
    object-fit: contain;
    object-position: center;
  }

  .project-image {
    width: 100%;
    text-align: center;
    margin-bottom: 31.25rem;
    height: 18.75rem;
  }

  .project-section h2 {
    @include type.L-Button-Style('-bold');
    margin-bottom: var(--spacing-md);
  }

  h3 {
    @include type.L-XXL-Style('-bold');
    margin-bottom: var(--spacing-xs);
    margin-top: var(--spacing-xs);
    align-items: center;
    justify-content: center;
    align-self: center;
  }

  .image.small img {
    max-height: var(--img-height-sm);
    /* 300px */
  }

  .image.smedi img {
    max-height: var(--img-height-smedi);
    /* 375px */
  }

  .image.medium img {
    max-height: var(--img-height-md);
    /* 450px */
  }

  .image.mela img {
    max-height: var(--img-height-mela);
    /* 600px */
  }

  .image.large img {
    height: fit-content;
    /* 600px */
  }
}

/* Extra kleine Geräte (Handys im Hochformat, 320px bis 480px) */
@media (max-width: 480px) {

  html {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: --webkit-fill-available;
    height: 100vh;
    width: 100vw;
  }


  .detailsLink-container {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding-bottom: var(--spacing-lg);
    @include type.L-Heading-Style('-bold');
  }

  .detailsLink {
    color: var(--color-black);
    text-decoration: none;
  }

  #projectLinkStart {
    position: fixed;
    top: 0;
    padding-top: var(--spacing-lg);
    left: 50vw;
    transform: translateX(-50%);
    @include type.L-Heading-Style('-bold');
    text-align: center;
    background-color: var(--color-background);
  }

  .background {
    position: fixed;
    height: 8vh;
    width: 100vw;
    top: 0;
    z-index: var(--z-index-high);
    background-color: var(--color-background);

  }

  #projectLinkNext {
    position: fixed;
    top: 50vh;
    right: var(--side-percentage);
    transform: translateY(-50%);
    @include type.L-Heading-Style('-bold');
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  #projectLinkBefore {
    position: fixed;
    top: 50vh;
    left: var(--side-percentage);
    transform: translateY(-50%) rotate(180deg);
    @include type.L-Heading-Style('-bold');
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  .projectFlap,
  .wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    @include type.L-XXXXL-Style('-extra-light');
    text-align: left;
    align-items: center;
    justify-content: center;
  }

  .projectFlap {
    top: 35vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    font-size: var(--font-size-xl);
    min-width: 80%;
  }

  .wrapper {
    top: 67dvh;
    left: 50dvw;
    transform: translate(-50%, -50%);
    flex-direction: row;
  }

  .picture {
    object-fit: cover;
    object-position: center;
  }



  .project-details {
    max-width: 80vw;
    margin: 0 auto;
    padding: var(--spacing-lg);
    padding-top: 100vh;
    letter-spacing: 0.3px;
  }


  .project-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--spacing-lg);
  }

  .project-content {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
    width: 80vw;
  }

  .project-section.reverse .project-content {
    flex-direction: row-reverse;
  }

  .projectDetailsFlap {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    padding-bottom: var(--spacing-bigger);
    padding-top: var(--spacing-big);
  }

  .text {
    flex: 1;
    padding: var(--spacing-xxl);
    padding-top: var(--spacing-md);
    @include type.L-Button-Style('-light');
    line-height: var(--line-height-big);
    max-width: 70vw;
    align-self: center;
  }

  .paragraph {
    font-optical-sizing: auto;
    @include type.L-Family-Alt();
    padding-top: var(--spacing-md);
    display: flex;
    flex-direction: column;
  }

  .tryOutLink {
    color: var(--color-black);
    @include type.L-XXXXL-Style('-bold');
    transform: translateX(-50%);
    text-decoration: none;
    left: 50%;
    position: relative;
    text-decoration: underline;
  }


  .image {
    flex: 1;
    padding: var(--spacing-sm);
    display: flex;
    justify-content: center;
    align-self: center;
    object-fit: cover;
    object-position: center;
  }

  .project-video iframe {
    border: var(--border-size) solid var(--color-gray-light);
    border-radius: var(--radius-md);
    width: 70vw;
    height: 29vh;
    margin-top: var(--spacing-xl);
  }

  .project-image,
  .image {
    width: 100%;
    object-fit: contain;
    object-position: center;
    align-self: center;
  }

  .project-image {
    width: 100%;
    text-align: center;
    margin-bottom: 31.25rem;
    height: 18.75rem;
  }

  .project-section h2 {
    @include type.L-Button-Style('-bold');
    margin-bottom: var(--spacing-md);
  }

  h3 {
    @include type.L-XXL-Style('-bold');
    margin-bottom: var(--spacing-xs);
    margin-top: var(--spacing-xs);
    align-items: center;
    justify-content: center;
    align-self: center;

  }

  .image.small img {
    max-height: var(--img-height-sm);
    max-width: var(--img-width-lg);

  }

  .image.smedi img {
    max-height: var(--img-height-smedi);
    max-width: var(--img-width-lg);

  }

  .image.medium img {
    max-height: var(--img-height-md);
    max-width: var(--img-width-lg);
  }

  .image.mela img {
    max-height: var(--img-height-mela);
    max-width: var(--img-width-lg);

  }

  .image.large img {
    max-height: var(--img-height-lg);
    max-width: var(--img-width-lg);

  }
}
//
