/* about.css */
html {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }
  
  #resumeBar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  #aboutMe {
    color: black;
    font-weight: 100;
    font-size: 2rem;
    text-align: center;
    margin-top: 50px;
    font-style: normal;
    line-height: normal;
  }
  
  #resumeLink {
    color: #171717;
    font-weight: 700;
    font-size: 2rem;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-style: normal;
    line-height: normal;
  }
  
  #startLinkAbout {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    font-weight: 700;
    right: 0;
    padding-right: 20px;
  }
  
 
  
  .aboutMeText {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 200;
    text-align: left;
    width: 60%;
    align-items: center;
  }
  
  
  
  
//
