@media (max-width: 310px) {
  :root {
    --border-color-black: #171717;
    --border-size: 0.08rem;
    /* 0.1rem  */
    --border-radius: 0.56rem;
    /* 0.7rem  */

    /* Schriftgrößen */
    --font-size-base: 0.6rem;
    /* 0.625rem  */
    --font-size-sm: 0.6rem;
    /* 0.75rem  */
    --font-size-md: 0.64rem;
    /* 0.8rem  */
    --font-size-lg: 0.8rem;
    /* 1rem  */
    --font-size-xl: 0.96rem;
    /* 1.2rem  */
    --font-size-xxl: 1.02rem;
    /* 1.28rem  */
    --font-size-xxxl: 1.1rem;
    /* 1.4rem  */
    --font-size-xxxxl: 1.28rem;
    /* 1.6rem  */
    --font-size-big: 1.6rem;
    /* 2rem  */
    --font-size-bigger: 1.92rem;
    /* 2.4rem  */
    --font-size-huge: 2.56rem;
    /* 3.2rem  */

    /* Schriftgewichte */
    --font-weight-thin: 100;
    --font-weight-extra-light: 200;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-bold: 700;

    /* Abstände */
    --spacing-none: 0;
    --spacing-xxs: 0.192rem;
    /* 0.24rem  */
    --spacing-xs: 0.3rem;
    /* 0.5rem  */
    --spacing-sm: 0.5rem;
    /* 0.8rem  */
    --spacing-sm-md: 0.52rem;
    /* 1rem  */
    --spacing-md: 0.75rem;
    /* 1rem  */
    --spacing-lg: 0.9rem;
    /* 1.5rem  */
    --spacing-xl: 1.28rem;
    /* 1.6rem  */
    --spacing-xxl: 1.92rem;
    /* 2.4rem  */
    --spacing-xxxl: 2.56rem;
    /* 3.2rem  */
    --spacing-big: 3.84rem;
    /* 4.8rem  */
    --spacing-bigger: 5.12rem;
    /* 6.4rem  */

    --radius-xxs: 0.192rem;
    /* 0.24rem  */
    --radius-xs: 0.4rem;
    /* 0.5rem  */
    --radius-sm: 0.64rem;
    /* 0.8rem  */
    --radius-md: 0.8rem;
    /* 1rem  */

    /* Positionierung */
    --top-spacing: 1.04rem;
    /* 1.3rem  */
    --side-percentage: 1.5%;
    --z-index-high: 100;
    --z-index-alert: 1000;

    /* Sonstiges */
    --letter-spacing-base: 0.04rem;
    /* 0.05rem  */
    --line-height-small: 1;
    --line-height-normal: normal;
    --line-height-big: 1.2;
    /* 1.5  */
    --line-height-normal: 1.6;
    /* 2  */

    /* Bildhöhen */
    --img-height-sm: 20vh;
    /* 20% der Viewport-Höhe */
    --img-height-smedi: 30vh;
    /* 30% der Viewport-Höhe */
    --img-height-md: 40vh;
    /* 40% der Viewport-Höhe */
    --img-height-mela: 50vh;
    /* 50% der Viewport-Höhe */
    --img-height-lg: 60vh;
    /* 60% der Viewport-Höhe */
  }

  html {
    color: var(--color-primary);
    font-size: var(--font-size-base);
    font-family: var(--font-family-main);
    background-color: var(--color-background);
    margin: var(--spacing-none);
    padding: var(--spacing-none);
    letter-spacing: var(--letter-spacing-base);
    scroll-behavior: smooth;
    font-optical-sizing: auto;
    height: 100dvh;
    width: 100dvw;
  }

  img {
    max-width: 100%;
    height: auto;
    border: var(--border-size) solid var(--border-color-black);
    border-radius: var(--border-radius);
    object-fit: cover;
    object-position: center;
  }

  ::-webkit-scrollbar {
    width: var(--scrollbar-width);
    background-color: var(--color-background);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-background);
    border: var(--spacing-none) solid var(--color-background);
  }

  .returnHome {
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-bigger);
    color: var(--color-primary);
    text-decoration: none;
    position: fixed;
    left: var(--side-percentage);
    padding-left: var(--spacing-xs);
    z-index: var(--z-index-high);
    top: var(--side-percentage);
  }

  .language-switch {
    position: fixed;
    top: var(--side-percentage);
    right: var(--side-percentage);
    display: flex;
    align-items: center;
    z-index: var(--z-index-high);
  }

  #en,
  #de,
  #line {
    font-weight: var(--font-weight-thin);
    font-size: var(--font-size-big);
  }

  #line {
    margin: var(--spacing-none);
  }

  button {
    background-color: transparent;
  }

  .language-switch button {
    color: var(--color-secondary);
    border: none;
  }

  .language-switch button:disabled {
    color: var(--color-primary);
  }

  .language-switch button:not(:disabled):hover {
    color: var(--color-primary);
  }

  /* Theme Switcher Button */
  .theme-switcher {
    position: fixed;
    bottom: var(--top-spacing);
    right: var(--side-percentage);
    font-size: var(--font-size-xxxxl);
    font-weight: var(--font-weight-normal);
    background-color: transparent;
    cursor: pointer;
    z-index: var(--z-index-high);
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
}

/* Kleine Geräte (Tablets und Handys im Querformat, 481px bis 768px) */
