@use "@/assets/styles/type.scss" as type;

@media (min-width: 481px) and (max-width: 768px) {
  :root {
    --border-color-black: #171717;
    --border-size: 0.088rem;
    /* 0.08rem, um 10% erhöht */
    --border-radius: 0.616rem;
    /* 0.56rem, um 10% erhöht */

    /* Schriftgrößen */
    --font-size-base: 0.715rem;
    /* 0.65rem */
    --font-size-sm: 0.66rem;
    /* 0.6rem */
    --font-size-md: 0.704rem;
    /* 0.64rem */
    --font-size-lg: 0.88rem;
    /* 0.8rem */
    --font-size-xl: 1.056rem;
    /* 0.96rem */
    --font-size-xxl: 1.122rem;
    /* 1.02rem */
    --font-size-xxxl: 1.21rem;
    /* 1.1rem */
    --font-size-xxxxl: 1.408rem;
    /* 1.28rem */
    --font-size-big: 1.76rem;
    /* 1.6rem */
    --font-size-bigger: 2.112rem;
    /* 1.92rem */
    --font-size-huge: 2.816rem;
    /* 2.56rem */

    /* Schriftgewichte */
    --font-weight-thin: 100;
    --font-weight-extra-light: 200;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-bold: 700;

    /* Abstände */
    --spacing-none: 0;
    --spacing-xxs: 0.2112rem;
    /* 0.192rem */
    --spacing-xs: 0.33rem;
    /* 0.3rem */
    --spacing-sm: 0.55rem;
    /* 0.5rem */
    --spacing-sm-md: 0.572rem;
    /* 0.52rem */
    --spacing-md: 0.825rem;
    /* 0.75rem */
    --spacing-lg: 0.99rem;
    /* 0.9rem */
    --spacing-xl: 1.408rem;
    /* 1.28rem */
    --spacing-xxl: 2.112rem;
    /* 1.92rem */
    --spacing-xxxl: 2.816rem;
    /* 2.56rem */
    --spacing-big: 4.224rem;
    /* 3.84rem */
    --spacing-bigger: 5.632rem;
    /* 5.12rem */

    --radius-xxs: 0.2112rem;
    /* 0.192rem */
    --radius-xs: 0.44rem;
    /* 0.4rem */
    --radius-sm: 0.704rem;
    /* 0.64rem */
    --radius-md: 0.88rem;
    /* 0.8rem */

    /* Positionierung */
    --top-spacing: 1.144rem;
    /* 1.04rem */
    --side-percentage: 1.65%;
    /* 1.5% */
    --z-index-high: 100;
    --z-index-alert: 1000;

    /* Sonstiges */
    --letter-spacing-base: 0.044rem;
    /* 0.04rem */
    --line-height-small: 1.1;
    /* 1 */
    --line-height-normal: normal;
    /* Bleibt unverändert */
    --line-height-big: 1.32;
    /* 1.2 */
    --line-height-larger: 1.76;
    /* 1.6 */

    /* Bildhöhen */
    --img-height-sm: 20vh;
    /* 20% der Viewport-Höhe */
    --img-height-smedi: 30vh;
    /* 30% der Viewport-Höhe */
    --img-height-md: 40vh;
    /* 40% der Viewport-Höhe */
    --img-height-mela: 50vh;
    /* 50% der Viewport-Höhe */
    --img-height-lg: 60vh;
    /* 60% der Viewport-Höhe */
  }

  html {
    color: var(--color-primary);
    font-size: var(--font-size-base);
    font-family: var(--font-family-main);
    background-color: var(--color-background);
    margin: var(--spacing-none);
    padding: var(--spacing-none);
    letter-spacing: var(--letter-spacing-base);
    /* Avoid smooth scroll during route transitions to prevent Y-jank */
    scroll-behavior: auto;
    font-optical-sizing: auto;
  }

  img {
    max-width: 100%;
    height: auto;
    border: var(--border-size) solid var(--border-color-black);
    border-radius: var(--border-radius);
    object-fit: contain;
    object-position: center;
  }

  ::-webkit-scrollbar {
    width: var(--scrollbar-width);
    background-color: var(--color-background);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-background);
    border: var(--spacing-none) solid var(--color-background);
  }

  .returnHome {
    @include type.L-Title-Style('-light');
    color: var(--color-primary);
    text-decoration: none;
    position: fixed;
    left: var(--side-percentage);
    padding-left: var(--spacing-xs);
    z-index: var(--z-index-high);
    top: var(--side-percentage);
  }

  .language-switch {
    position: fixed;
    top: var(--side-percentage);
    right: var(--side-percentage);
    display: flex;
    align-items: center;
    z-index: var(--z-index-high);
  }

  #en,
  #de,
  #line {
    @include type.L-Heading-Style('-thin');
  }

  #line {
    margin: var(--spacing-none);
  }

  button {
    background-color: transparent;
  }

  .language-switch button {
    color: var(--color-secondary);
    border: none;
  }

  .language-switch button:disabled {
    color: var(--color-primary);
  }

  .language-switch button:not(:disabled):hover {
    color: var(--color-primary);
  }

  /* Theme Switcher Button */
  .theme-switcher {
    position: fixed;
    bottom: var(--top-spacing);
    right: var(--side-percentage);
    @include type.L-XXXXL-Style();
    background-color: transparent;
    cursor: pointer;
    z-index: var(--z-index-high);
    writing-mode: vertical-rl;
    text-orientation: upright;
  }

  .theme-switcher:focus {
    outline: none;
  }

  /* Transition für Theme-Wechsel */
  .theme-transition {
    transition: background-color 0.5s ease, color 0.5s ease;
  }

  .theme-transition,
  .theme-transition * {
    transition: color 0.5s ease, background-color 0.5s ease,
      border-color 0.5s ease;
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.6s ease-out;
  }

  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }

  #bottomLink {
    color: var(--color-primary);
    @include type.L-Heading-Style('-bold');
    position: absolute;
    bottom: var(--side-percentage);
    left: 50vw;
    transform: translateX(-50%);
    font-style: normal;
    line-height: var(--line-height-normal);
  }

  #topLink {
    position: absolute;
    top: 0;
    padding-top: var(--side-percentage);
    left: 50vw;
    transform: translateX(-50%);
    @include type.L-Heading-Style('-bold');
    text-align: center;
  }

  #rightLink {
    top: 50vh;
    right: var(--side-percentage);
    transform: translateY(-50%);
    position: absolute;
    @include type.L-Heading-Style('-bold');
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  #leftLink {
    top: 50vh;
    left: var(--side-percentage);
    transform: translateY(-50%) rotate(180deg);
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: absolute;
    @include type.L-Heading-Style('-bold');
  }

  .custom-link {
    color: var(--color-black);
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease;
    margin: var(--spacing-xxs);
  }
}

/* Mittlere Geräte (Laptops und kleinere Bildschirme, 769px bis 1024px) */
//
